<section class="info">
    <h2>Nosotros</h2>

    <h4>Vision</h4>
        <p> Dentro del sector de las bodegas de Calidad consolidar el liderazgo en Navarra y aumentarlo en territorio nacional e internacional.
            Ser una empresa responsable, eficiente, dinámica y comprometida con la investigación y la innovación como camino para el liderazgo.
            Seguir siendo una empresa capaz de competir globalmente.
            Seguir siendo un opción segura y de confianza para nuestros clientes en un mercado atomizado con infinidad de marcas.
        </p>

    <h4>Mision</h4>
        <p>Elaboración y comercialización de vinos tintos, blancos y rosados de alta calidad y alto disfrute.
            Prioritariamente a través del Canal Horeca y Tiendas Especializadas en el ámbito regional, nacional e internacional.
            Buscando una rentabilidad y un valor para el capital invertido.
            Contribuyendo al desarrollo de sus trabajadores y de la región.
            Con una diferenciación en base a unos viñedos propios y a unas instalaciones propias para el control íntegro del proceso de producción y para la consecución de unos vinos con 
            personalidad propia y notoria.
        </p>   
</section>
<section class="img">
    
</section>